#forms {
    border-radius: 25px;
    background: 33ACFF;
    color: FFFFFF; 
    padding: 20px; 
    width: 200px;
    height: 150px; 
}

a {
    text-decoration: none;
}

a:link {
    color:#1f1f1f;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

h2.collection_description {
    margin-left: 200px;
    margin-right: 200px;
}

p.homeDescription {
    margin-left: 200px;
    margin-right: 200px;
}

body {
    font-family: "Calibri", SansSerif;
    font-size: 105%;
    margin-left: 200px;
    margin-right: 200px;
    background-image: url("Images/jazz_pattern_tl.png");
}

header {
    margin: 50px 50px 20px 0px;
    position: relative;
}

nav {
    margin: 50px 0px 20px 20px;
    position: relative;
    bottom: 80px;
}

table#nextLevel tr {
    font-family: "Copperplate Gothic Light", SansSerif;
    font-size: 150%;
}

footer {
    font-size: 75%;
}
